.container {
    padding: 20px;
    justify-content: center;
}

button:first-child {
    align-self: flex-end;
    width: 70px;
    position: absolute;
    top: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: calc(1vh + 1vw);
}

h1 {
    align-self: center;
    font-size: calc(3em + 1vw);
    text-align: center;
}

p {
    align-self: center;
    color: red;
}

.input-box {
    display: flex;
    flex-direction: column;
    height: 50vh;
    align-items: center;
    gap: calc(10px + 1vh);
}

.input {
    display: flex;
    flex-direction: column;
}

.input-box button {
    align-self: center;
    width: 80px;
}