<div appContainer class="container">
    <app-navbar></app-navbar>
    <div class="content">
        <div class="app-name">
            <h1>Smart <br>Coinbook</h1>
        </div>
        <div class="description">
            <p>
                Internetowy zeszyt do wydatków, który pomoże Ci w prosty i nowoczesny sposób śledzić i kontrolować Twoje miesięczne wydatki. 
            </p>
            <p>
                <b>
                    Zarejestruj się całkowicie za darmo, aby rozpocząć świadomie i nowocześnie kontrolować swoje wydatki już dziś.
                </b>
            </p>
        </div>
        <button appButtonDir>Załóż konto</button>
    </div>
</div>