<div class="container" appContainer>
    <div class="header">
        <app-navbar *ngIf="!previewMode"></app-navbar>
        <p *ngIf="previewMode">Zalogowano jako: {{ activeProfile.name }}</p>
    </div>
    <div class="content">
        <div class="left-side">
            <app-expenses-info 
                (enterPreviewMode)="onEnterPreviewMode(modalRef)"
                [previewMode]="previewMode"
                [monthlySum]="monthlySum"
                [date]="{fullDate: checkedDate, monthName: checkedMonth}"
                [data]="{activeProfile, previewedProfile}"
            ></app-expenses-info>
            <app-change-month-arrows (dateEmitter)="onReceiveDate($event)"></app-change-month-arrows>
        </div>
        <div class="right-side">
            <app-graph 
                [monthlyExpenses]="monthlyExpenses"
                [categories]="previewMode ? previewedProfile.categories! : activeProfile.categories!"
                [date]="{fullDate: checkedDate, monthName: checkedMonth}"
            ></app-graph>
        </div>
    </div>
    <div class="last-expenses-list">
        <app-last-expenses-table 
            [monthlyExpenses]="monthlyExpenses"
            [profile]="previewMode ? previewedProfile : activeProfile"
        ></app-last-expenses-table>
    </div>
</div>

<ng-template #modalRef>
    <div class="modal-container">
        <div class="modal-row">
            <h1>Wybierz profil do podglądu:</h1>
            <button (click)="onCloseModal()">
                <img src="../assets/icons/cancel.png">
            </button>
        </div>
        <div class="modal-content">
            <div 
                class="item" 
                *ngFor="let profile of loggedUser?.profiles"
                [ngClass]="{
                    active: (previewMode === false && profile.id === activeProfile.id) || (previewMode === true && profile.id === previewedProfile.id)
                }"
                (click)="onSelectProfile(profile)"
            >
                <div 
                    class="widget"
                    appWidget
                    widgetHeight="150px"
                    widgetWidth="150px"
                >
                    <img [src]="
                        profile.role === 'admin' ? '../assets/icons/admin-icon.png'
                        : '../assets/icons/user-icon.png'
                    ">
                </div>
                <p>{{ profile.name }}</p>
            </div>
        </div>
    </div>
</ng-template>