.modal-content {
    display: flex;
    gap: 20px;
    margin: 0 15px;
    justify-content: space-evenly;
    overflow-x: scroll;
    padding: 10px 0;
}

.modal-container {
    display: flex;
    flex-direction: column;
}

.modal-row {
    display: flex;
    justify-content: space-between;
    margin: 15px;
}

.modal-row h1{
    width: 100%;
    text-align: center;
    text-wrap: wrap;
    margin: 0;
}

.modal-row button, .modal-row button img{
    width: calc(2vh + 2vw) !important; 
    height: calc(2vh + 2vw) !important; 
}

.modal-row button {
    border: none;
    background-color: transparent;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 170px;
    padding: 10px;
}

.item .widget img {
    width: calc(60px + 5vw + 5vh);
}

.active {
    background-color: #cccccc;
}

.button button, .button img{
    width: 50px;
}
