.content {
    display: flex;
    justify-content: center;
    height: 50%;
}

.header {
    display: flex;
    justify-content: end;
    margin: 0 2%;
}

.right-side, .left-side {
    width: 48%;
}

.left-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.unread-messages {
    display: inline-block;
    color: white;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    text-align: center;
}

.widget {
    display: flex;
    flex-direction: column;
}

.graph {
    height: 100%;
}

.graph .widget {
    height: 100%;
    justify-content: space-between;
}

.chart-wrap {
    flex-grow: 1;
}

canvas {
    height: 100%;
    max-height: 60vh;
}

.last-expenses-list {
    height: 50%;
    padding: 20px 0;
    width: 100%;
}

.last-expenses-list .widget .scroll{
    overflow-y: auto;
    height: 25vh;
    overflow-x: hidden;
}

.last-expenses-list .widget h3 {
    margin-left: 15px;
    margin-top: 5px;
}

.last-expenses-list .widget .scroll table {
    width: 98%;
    border-collapse: separate;
    border-spacing: 5px;
    padding: 0;

}

td, th{
    text-align: center;
    padding: 0;
    font-size: 14px;
}

th{
    background-color: #dedede;
}

.last-expenses-list .widget tr {
    margin: 2.5px 0;
    background-color: #f5f5f5;
}

td p{
    margin: 0;
}

.last-expenses-list .widget table td:first-child{
    width: 15%;
}

.last-expenses-list .widget table td:nth-child(2){
    width: 10%;
}

.last-expenses-list .widget table td:nth-child(3){
    width: 20%;
}

.last-expenses-list .widget table td:nth-child(4){
    width: 30%;
}

.last-expenses-list .widget table td:nth-child(5){
    width: 20%;
}

.no-expenses-info {
    width: 90%;
    text-align: center;
}

.cyclic-input {
    display: flex;
    flex-basis: 100%;
}

.cyclic-value input{
    width: 30px;
}

.button button, .button img{
    width: 50px;
}

.chart-display {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: fit-content;
}

.chart-display p{
    padding: 0;
    margin: 0;
    width: fit-content;
    cursor: pointer;
    font-size: 1.8em;
}

@media (orientation: landscape){  
    .container {
        height: fit-content;
        min-height: 100vh;
    }

    .last-expenses-list .widget{
        margin-inline: 2%;
        width: 96%;
        height: 100%;
    }

    .last-expenses-list .widget table{
        margin: 0 10px;
        width: 90%;
    }

    .last-expenses-list .widget table td{
        padding: 5px 0;
    }
}

@media (orientation: portrait){
    .container {
        display: flex;
        flex-direction: column;
        height: calc(400px + 100vh);
        gap: calc(10px + 1vh);
    }

    .last-expenses-list {
        width: 90%;
        align-self: center;
        margin: 10px 5%;
    }

    .last-expenses-list .widget {
        height: 80%;
    }

    .scroll {
        width: 100%;
    }

    .last-expenses-list .widget table{
        width: 70%;
    }

    td p, th{
        padding: 1px 0;
        font-size: calc(10px + 0.4vw) !important;
        height: fit-content;
    }

    td p{
        margin: 0;
    }

    .last-expenses-list .widget table td:nth-child(4){
        width: 25%;
    }
}