.container {
    display: flex;
    padding: 20px 0;
}

.widget {
    width: calc(100px + 2vh + 2vw);
    height: calc(100px + 2vh + 2vw);
}

.widget img {
    width: 100%;
}

.info {
    padding: 0 calc(5px + 1vw);
    display: flex;
    flex-direction: column;
    gap: calc(1vh + 1vw);
}

.name {
    display: flex;
}

.name h1{
    font-size: calc(25px + 1.5vh);
    margin: 0;
}


.text-form {
    align-self: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-height: 32vh;
    justify-content: space-between;
}

.text-form p {
    margin: 0;
    font-size: calc(0.8em + 1vh);
}

.text-form h1 {
    margin: 0;
    align-self: flex-end;
    font-size: calc(1.5em + 2vh);
}

@media (orientation: portrait) {
    .name h1{
        font-size: calc(1.2em + 3vw);
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        max-width: 35vw;
    }

    .name a {
        align-self: center;
    }

    .name a img {
        width: calc(15px + 3vw);
    }

    .text-form {
        height: fit-content;
        max-height: 40vh;
        margin: 0 5%;
        padding: 0 10%;
        width: 95%;
    }

    .text-form p {
        font-size: calc(0.8em + 2.5vw);
        padding: calc(3px + 0.5vh) 0 0 calc(3px + 0.5vh);
    }

    .text-form h1 {
        font-size: calc(2em + 2.5vw);
    }
}