.container {
    display: flex;
    padding: 20px 0;
    gap: calc(1vh + 1vw);
}

.widget {
    width: calc(10px + 7vh + 7vw);
    height: calc(10px + 7vh + 7vw);
}

.widget img {
    height: 100%;
}

.info {
    display: flex;
    flex-direction: column;
    gap: calc(1vh + 1vw);
}

.name {
    display: flex;
}

.name h1{
    font-size: calc(25px + 1.5vh);
    margin: 0;
    width: fit-content;
    max-width: 70%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}


.text-form {
    align-self: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-height: 32vh;
    justify-content: space-between;
}

.text-form p {
    margin: 0;
    font-size: calc(0.8em + 1vh);
}

.text-form h1 {
    margin: 0;
    align-self: flex-end;
    font-size: calc(1.5em + 2vh);
}

@media (orientation: portrait) {
    .name h1{
        font-size: calc(1.2em + 3vw);        
    }

    .name a {
        align-self: center;
    }

    .name a img {
        width: calc(15px + 3vw);
    }

    .text-form p {
        font-size: calc(0.8em + 2.5vw);
    }

    .text-form h1 {
        font-size: calc(2em + 2.5vw);
    }
}