<div (dblclick)="onEnterEdit(propToEdit)">
    <p *ngIf="previewMode || (!previewMode && !editMode)">
        {{
            propToEdit === 'category' ? categories.find(findCategory()).content :    
            propToEdit === 'price' ? expense.price + ' zł' : 
            propToEdit === 'date' ? (expense.date | date) : 
            propToEdit === 'renewalTime' && expense.renewalTime ? 'Co ' + expense.renewalTime + ' dni' :
            propToEdit === 'renewalTime' && !expense.renewalTime ? 'Jednorazowy' :
            expense[propToEdit]
        }}
    </p>
    <div class="edit-option" *ngIf="!previewMode && editMode">
        <select
            *ngIf="propToEdit === 'category'"
            id="category"
            name="category"
            (change)="onChangeProp($event)"
        >
            <option [value]="category.id" *ngFor="let category of categories">
                {{ category.content }}
            </option>
        </select>
        <input
            *ngIf="propToEdit !== 'category' && propToEdit !== 'renewalTime'"
            [type]="propToEdit === 'price' ? 'number' : (propToEdit === 'date' ? 'date' : 'text')"
            (change)="onChangeProp($event)"
        >
        <div 
            class="cyclic-input" 
            *ngIf="propToEdit === 'renewalTime' && !previewMode"
        >
            <div class="chkbx">
                <input 
                    type="checkbox"
                    id="cyclic"
                    name="cyclic"
                    ngModel
                    #chkbx
                    (change)="onChangeProp($event, 'isPeriodic')"
                > Cykliczny
            </div>
            <div class="cyclic-value">
                <p>Co</p>
                <input 
                    type="number" 
                    id="renewal"
                    name="renewal"
                    ngModel
                    [disabled]="!chkbx.checked" 
                    (keydown.enter)="onChangeProp($event)"
                >
                <p>dni</p>
            </div>
        </div>
        <div class="btn-box">
            <button (click)="onCloseEdit()">
                <img src="../../../assets/icons/yes-icon.svg">
            </button>
            <button (click)="onCloseEdit()">
                <img src="../../../assets/icons/no-icon.svg">
            </button>
        </div>
    </div>
</div>