<div (dblclick)="onEnterEdit()">
    <p *ngIf="previewMode || (!previewMode && !editMode)">
        {{
            propToEdit === 'category' ? categories.find(findCategory()).content :    
            propToEdit === 'price' ? expense.price + ' zł' : 
            propToEdit === 'date' ? (expense.date | date) : 
            propToEdit === 'renewalTime' && expense.renewalTime ? 'Co ' + expense.renewalTime + ' dni' :
            propToEdit === 'renewalTime' && !expense.renewalTime ? 'Jednorazowy' :
            expense[propToEdit]
        }}
    </p>
    <form *ngIf="!previewMode && editMode && isEditable" (ngSubmit)="onChangeProp()" #editForm="ngForm">
        <select
            *ngIf="propToEdit === 'category'"
            id="category"
            name="newValue"
            ngModel
            required
        >
            <option [value]="category.id" *ngFor="let category of categories">
                {{ category.content }}
            </option>
        </select>
        <input
            *ngIf="propToEdit !== 'category' && propToEdit !== 'renewalTime'"
            [type]="propToEdit === 'price' ? 'number' : (propToEdit === 'date' ? 'date' : 'text')"
            min="0"
            [max]="today"
            id="input"
            ngModel
            name="newValue"
            required
        >
        <div 
            class="cyclic-input" 
            *ngIf="propToEdit === 'renewalTime' && !previewMode"
        >
            <div class="chkbx">
                <input 
                    type="checkbox"
                    id="periodic"
                    name="periodic"
                    ngModel
                    #chkbx
                > Cykliczny
            </div>
            <div class="cyclic-value">
                <p>Co</p>
                <input 
                    type="number" 
                    id="renewal"
                    name="newValue"
                    ngModel
                    min="1"
                    [disabled]="!chkbx.checked"
                    [required]="chkbx.checked"
                >
                <p>dni</p>
            </div>
        </div>
        <div class="btn-box">
            <button type="submit" [disabled]="!editForm.valid" [ngClass]="{invalid: !editForm.valid}">
                <img src="../../../assets/icons/yes-icon.svg">
            </button>
            <button (click)="onCloseEdit()" type="button">
                <img src="../../../assets/icons/no-icon.svg">
            </button>
        </div>
    </form>
</div>