.cyclic-input {
    display: flex;
    flex-basis: 100%;
}

.cyclic-value input{
    width: 30px;
}

p{
    margin: 0;
}

.btn-box {
    display: flex;
}

.btn-box button {
    border: none;
    background-color: transparent;
    padding: 0;
}

.btn-box button img {
    width: 1rem;
}

form {
    display: flex;
}

.invalid {
    filter: saturate(0);
}