.container {
    display: flex;
    height: fit-content !important;
    overflow: hidden;
}

.menu {
    display: flex;
    position: relative;
    z-index: 1;
}

.hamburger {
    margin: 20px 0 0 20px;
    height: fit-content;
    width: fit-content;
}

img {
    width: calc(1vw + 30px + 1vh);
}

.content {
    width: 100%;
    position: relative;
    z-index: 2;
}

@media (orientation: landscape) {
    .container {
        flex-direction: row !important;
        min-height: 100vh;
    }
}

@media (orientation: portrait) {
    .menu{
        flex-direction: column;
    }
}