.change-month p {
    margin: auto;
}

.change-month {
    display: flex;
    width: 30vw;
    max-width: 100%;
    justify-content: space-between;
    height: fit-content;
}

.change-month p:first-child, .change-month p:last-child {
    font-size: calc(20px + 1vw);
    margin: 0;
}