.change-month p {
    margin: auto;
}

.change-month {
    display: flex;
    max-width: 95%;
    justify-content: space-between;
    height: fit-content;
    margin: 0 2.5%;
}

.change-month p:first-child, .change-month p:last-child {
    font-size: calc(20px + 1vw);
    margin: 0;
}