.row {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.cat-info {
    display: flex;
    gap: 20px
}

.cat-info h1{
    font-size: 40px;
}

.btn-box {
    display: flex;
    gap: 10px;
}

.change-month {
    display: flex;
    margin: 0 20px;
    justify-content: space-evenly;
}

.content {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
}

.modal-container {
    display: flex;
    flex-direction: column;
    margin: 15px;
}

.modal-row {
    display: flex;
    width: 100%;
}

.modal-row button, .modal-row img{
    width: 50px;
    height: 50px;
}

.modal-row button {
    border: none;
    background-color: #eceaea;
}

.modal-row h1{
    text-wrap: wrap;
    text-align: center;
    width: 70%;
    font-size: 40px;
    margin: 10px 10% 0 10%;
}

.modal-content {
    display: flex;
    justify-content: space-evenly;
}

.modal-content p{
    margin: 50px 0;
    text-wrap: wrap;
    text-align: center;
}

.modal-container button{
    align-self: center;
}

.edit-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 40px 0;
    height: 140px;
}

.input {
    display: flex;
    flex-direction: column;
}

.color {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.color input{
    width: 30px;
    height: 30px;
    border: none;
}

@media (orientation: portrait){
    .container {
        height: 160vh !important;
    }
    .change-month {
        align-self: center;
        width: 40%;
    }

    .content {
        flex-direction: column;
        gap: 20px
    }

    .content .widget {
        width: 100% !important;
    }

    .modal-row h1{
        width: 100%;
        font-size: 30px;
        margin: 0;
    }
}

@media (orientation: landscape){
    .change-month {
        width: 30vh;
    }
}