.row {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.row h1 {
    margin: 0;
}

button {
    width: 80px;
}

.notifications-list {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.notification {
    margin: 10px 20px;
    padding: 0 10px;
}