<div 
    class="widget"
    appWidget
>
    <h3>Ostatnie wydatki</h3>
    <div class="scroll">
        <p class="no-expenses-info" *ngIf="!doExpensesExist">
            Brak wydatków.
        </p>
        <table>
            <tr *ngIf="doExpensesExist">
                <th>Kategoria</th>
                <th>Kwota</th>
                <th>Data</th>
                <th>Opis</th>
                <th>Cykliczność</th>
            </tr>
            <tr *ngFor="let expense of monthlyExpenses | async; let i = index" title="Kliknij dwukrotnie lewym przyciskiem myszy żeby edytować dane.">
                <td>
                    <app-table-item
                        [propToEdit]="'category'"
                        [expense]="expense"
                        [categories]="profile.categories"
                    ></app-table-item>
                </td>
                <td>
                    <app-table-item
                        [propToEdit]="'price'"
                        [expense]="expense"
                    ></app-table-item>
                </td>
                <td>
                    <app-table-item
                        [propToEdit]="'date'"
                        [expense]="expense"
                    ></app-table-item>
                </td>
                <td>
                    <app-table-item
                        [propToEdit]="'description'"
                        [expense]="expense"
                    ></app-table-item>
                </td>
                <td>
                    <app-table-item
                        [propToEdit]="'renewalTime'"
                        [expense]="expense"
                    ></app-table-item>
                </td>
            </tr>
        </table>
    </div>
</div>