<div 
    class="widget"
    appWidget
>
    <h3>Ostatnie wydatki</h3>
    <div class="scroll">
        <p class="no-expenses-info" *ngIf="!doExpensesExist">
            Brak wydatków.
        </p>
        <table>
            <tr *ngIf="doExpensesExist">
                <th *ngIf="!wasOpenedFromCategoryPage">Kategoria</th>
                <th>Kwota</th>
                <th>Data</th>
                <th>Opis</th>
                <th>Cykliczność</th>
            </tr>
            <tr 
                *ngFor="let expense of monthlyExpenses | async; let i = index" 
                [title]="previewMode || wasOpenedFromCategoryPage ? '' : 'Kliknij dwukrotnie lewym przyciskiem myszy żeby edytować dane.'"
            >
                <td *ngIf="!wasOpenedFromCategoryPage">
                    <app-table-item
                        [propToEdit]="'category'"
                        [expense]="expense"
                        [categories]="profile.categories"
                        [isEditable]="!wasOpenedFromCategoryPage"
                        [coords]="[i, 0]"
                        [globalActiveCoords$]="activeCoords$"
                        (activeCoordsChanged)="onChangeActiveCoords($event)"
                    ></app-table-item>
                </td>
                <td *ngFor="let prop of props; let j = index">
                    <app-table-item
                        [propToEdit]="prop"
                        [expense]="expense"
                        [isEditable]="!wasOpenedFromCategoryPage"
                        [coords]="[i, j]"
                        [globalActiveCoords$]="activeCoords$"
                        (activeCoordsChanged)="onChangeActiveCoords($event)"
                    ></app-table-item>
                </td>
            </tr>
        </table>
    </div>
</div>