<div class="container" appContainer>
    <form (ngSubmit)="onSubmit()" #f="ngForm">
        <div *ngIf="errorMessage" class="error">
            {{ errorMessage }}
        </div>
        <div class="input-box">
            <div class="input">
                <label for="email">E-mail</label>
                <input 
                    type="email" 
                    id="email"
                    ngModel
                    name="email"
                    appInputDir
                    required
                >
            </div>
            <div class="input">
                <label for="password">Hasło</label>
                <input 
                    type="password"
                    id="password"
                    ngModel
                    name="password"
                    appInputDir
                    required
                >
            </div>
        </div>
        <div class="buttons">
            <button 
                type="submit"
                appButtonDir 
                (click)="onSignUp()"
                [disabled]="!f.valid"
            >Zarejestruj się</button>
            <button
                type="submit"
                appButtonDir 
                (click)="onLogin()"
                [disabled]="!f.valid"
            >Zaloguj się</button>
        </div>
    </form>
    <div class="alternate-login">
        <p>Wybierz inną metodę logowania</p>
        <div class="icon-box">
            <a (click)="onSignInFB()">
                <img src="../assets/icons/fb-icon.png" width="50px">
            </a>
            <a (click)="onSignInGoogle()">
                <img src="../assets/icons/google-icon.png" width="50px">
            </a>
        </div>
    </div>
</div>
