<div class="container">
    <div class="input-box">
        <div class="input">
            <label>E-mail</label>
            <input type="email" appInputDir>
        </div>
        <div class="input">
            <label>Hasło</label>
            <input type="password" appInputDir>
        </div>
    </div>
    <div class="buttons">
        <button appButtonDir>Zarejestruj się</button>
        <button appButtonDir>Zaloguj się</button>
    </div>
    <div class="alternate-login">
        <p>Wybierz inną metodę logowania</p>
        <div class="icon-box">
            <a href="">
                <img src="../assets/icons/fb-icon.png" width="50px">
            </a>
            <a href="">
                <img src="../assets/icons/google-icon.png" width="50px">
            </a>
        </div>
    </div>
</div>
