.container{
    align-items: center;
}

.row{
    display: flex;
    width: 90%;
    max-height: 30%;
    justify-content: center;
    margin: 15px;
}

.icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

h1{
    font-size: calc(1em + 1vw + 1vh);
    text-align: center;
    margin: 0;
}

.icon img {
    width: calc(100px + 5vw + 5vh);
}

.desc{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 15px;
    align-self: center;
}

.desc h3{
    align-self: flex-start;
    font-size: calc(0.5em + 0.8vw + 0.8vh);
}

.desc h3:nth-child(3) {
    text-align: center;
}

ul {
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

li {
    font-size: calc(0.5em + 0.5vw + 0.5vh);
}

.row button{
    min-width: 80px;
    position: absolute;
    top: 20px;
    right: 20px;
    height: 2rem;
}

.desc button {
    margin: 15px 0;
    height: 2rem;
}

.info{
    width: 80%;
    margin: 0 10%;
    font-size: 12px;
    align-self: center;
}

.modal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
    font-family: Arial, Helvetica, sans-serif;
    height: 90%;
}

.modal-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.modal-row h1{
    width: 90%;
    text-align: center;
    margin: 0;
    font-size: calc(1em + 1vw + 1vh);
}

.button button, .button img {
    width: calc(2vh + 2vw); 
    height: calc(2vh + 2vw); 
    border: none;
    background-color: #eceaea;
}

button:last-child {
    margin: auto;
}

.modal-container p {
    text-align: left;
    margin: 15px 0;
    line-height: 1.5;
    overflow-y: auto;
    width: 80%;
    height: 60%;
}

.understood-btn {
    height: 2rem;
    position: absolute;
    bottom: calc(1vh + 1vw);
}

@media (orientation: landscape) {
    .container {
        min-height: 100vh;
        height: fit-content !important;
    }
}

@media (orientation: portrait) {
    .desc {
        width: 80%;
    }

    .modal-container p {
        font-size: 12px;
        height: 50%;
    }
}