.container {
    display: grid;
    width: 100%;
    font-family: 'Inter';
    background-color: #eceaea;
    padding: 0;
}

.account-management {
    display: flex;
    padding: 20px 0;
}

.box {
    display: flex;
}

.text-form {
    display: flex;
    flex-direction: column;
}

.account-info {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
}

.account-info a {
    font-size: 13px;
    margin: 3px;
}

.account-name {
    display: flex;
}

.account-name h1{
    font-size: 35px;
    margin: 10px 0;
}

.account-name a{
    padding: 5px;
}

.widget {
    display: flex;
    flex-direction: column;
}

.widget p {
    padding: 1% 0 0 20px;
    font-size: 20px;
}

.widget h1 {
    align-self: flex-end;
    padding: 0 20px;
}

.last-expenses-list .widget .scroll{
    overflow-y: scroll;
    height: 20vh;
    padding-bottom: 10px;
}

.last-expenses-list .widget table td:first-child{
    width: 15%;
}

.last-expenses-list .widget table td:nth-child(2){
    width: 15%;
}

.last-expenses-list .widget table td:nth-child(3){
    width: 15%;
}

.last-expenses-list .widget table td:nth-child(5){
    width: 10%;
}

.addBtn {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.change-month {
    display: flex;
    width: 70%;
    justify-content: space-between;
}

.change-month a {
    font-size: 25px;
    align-self: center;
}

.change-month p {
    padding: 0;
}

@media (orientation: landscape){  
    .box{
        padding: 20px 20px 0 20px;
        flex-direction: column;
        justify-content: space-between;
        grid-column-start: 4;
        grid-column-end: 7;
        grid-row-start: 1;
        grid-row-end: 5;
    }

    .container {
        height: 100vh;
        grid-template-columns: 1fr repeat(5, 3fr);
        grid-template-rows: repeat(7, 1fr);
    }

    .account-management {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    .text-form {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end:5;
    }

    .addBtn button {
        align-self: flex-end;
    }

    .last-expenses-list {
        grid-column-start: 2;
        grid-column-end: 7;
        grid-row-start: 5;
        grid-row-end:8;
        align-self: flex-end;
        margin: 0 20px 20px 0;
    }

    .last-expenses-list .widget table{
        margin-left: 20px;
        width: 95%;
    }

    .last-expenses-list .widget table td{
        padding: 5px 0;
    }

    .last-expenses-list .widget table td:nth-child(4){
        width: 40%;
    }
}

@media (orientation: portrait){
    .container {
        grid-template-rows: 1fr repeat(9, 2fr);
        max-height: 170vh;
    }

    .account-management {
        margin: 0 10%;
        grid-row-start: 2;
        grid-row-end: 3;
        height: 20vh;
    }

    .box {
        display: flex;
        align-self: center;
        flex-direction: column;
        grid-row-start: 3;
        grid-row-end: 6;
        margin: 30px 5%;
        height: 60vh;
        justify-content: space-between;
    }

    .box .widget {
        width: 100% !important;
        height: 50vh !important;
    }

    .text-form {
        grid-row-start: 6;
        grid-row-end: 8;
        height: 30vh;
        margin: 0 5%;
        padding: 0 10%;
    }

    .text-form .widget {
        width: 95% !important;
    }

    .text-form .change-month {
        width: 95%;
        justify-content: space-evenly;
    }

    .last-expenses-list {
        width: 90%;
        align-self: center;
        grid-row-start: 8;
        grid-row-end: 10;
        height: 40vh;
        margin: 10px 5%;
    }

    .last-expenses-list .widget table{
        margin-left: 15px;
        width: 90%;
    }

    .last-expenses-list .widget table td{
        padding: 1px 0;
        font-size: 85%;
    }

    .last-expenses-list .widget table td:nth-child(4){
        width: 25%;
        text-wrap: wrap;
    } 
}