.container {
    display: grid;
    width: 100%;
    font-family: 'Inter';
    background-color: #eceaea;
    padding: 0;
}

.account-management {
    display: flex;
    padding: 20px 0;
}

.account-management .widget {
    width: calc(100px + 2vh + 2vw);
    height: calc(100px + 2vh + 2vw);
}

.unread-messages {
    display: inline-block;
    color: white;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    text-align: center;
}

.box {
    display: flex;
    gap: 20px;
}

.text-form {
    display: flex;
    flex-direction: column;
}

.account-info {
    padding: 0 calc(5px + 1vw);
    display: flex;
    flex-direction: column;
}

.account-info a {
    margin: 0.5vh;
}

.account-name {
    display: flex;
}

.account-name h1{
    font-size: calc(25px + 1.5vh);
    margin: 0;
}

.options {
    display: flex;
    flex-direction: column;
}

.widget {
    display: flex;
    flex-direction: column;
}

.text-form .widget {
    flex-grow: 1;
    max-height: 32vh;
    justify-content: space-between;
}

.text-form .widget h3 {
    margin: 0;
    padding: calc(5px + 1vh) 0 0 calc(5px + 1vh);
    font-size: calc(0.8em + 2vh);
}

.text-form .widget h1 {
    align-self: flex-end;
    padding-right: calc(5px + 1vh);
    font-size: calc(1.5em + 2vh);
}

.graph {
    flex-grow: 1;
    height: 70%;
}

.graph .widget {
    height: 100%;
    justify-content: space-between;
}

.chart-wrap {
    flex-grow: 1;
}

canvas {
    height: 100%;
    max-height: 60vh;
}

.last-expenses-list {
    height: 85%;
    margin: 20px 0;
}

.last-expenses-list .widget .scroll{
    overflow-y: auto;
    height: 25vh;
    margin-bottom: 15px;
    overflow-x: hidden;
}

.last-expenses-list .widget h3 {
    margin-left: 15px;
    margin-top: 5px;
}

.last-expenses-list .widget .scroll table {
    width: 98%;
    border-collapse: separate;
    border-spacing: 5px;
    padding: 0;

}

td, th{
    text-align: center;
    padding: 0;
    font-size: 14px;
}

th{
    background-color: #dedede;
}

.last-expenses-list .widget tr {
    margin: 2.5px 0;
    background-color: #f5f5f5;
}

td p{
    margin: 0;
}

.last-expenses-list .widget table td:first-child{
    width: 15%;
}

.last-expenses-list .widget table td:nth-child(2){
    width: 10%;
}

.last-expenses-list .widget table td:nth-child(3){
    width: 20%;
}

.last-expenses-list .widget table td:nth-child(4){
    width: 30%;
}

.last-expenses-list .widget table td:nth-child(5){
    width: 20%;
}

.no-expenses-info {
    width: 90%;
    text-align: center;
}

.cyclic-input {
    display: flex;
    flex-basis: 100%;
}

.cyclic-value input{
    width: 30px;
}

.addBtn {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.change-month {
    display: flex;
    width: 30vw;
    max-width: 100%;
    justify-content: space-between;
    height: fit-content;
}

.change-month p:first-child, .change-month p:last-child {
    font-size: calc(20px + 1vw);
    margin: 0;
}

.change-month p {
    margin: auto;
}

.button button, .button img{
    width: 50px;
}

.chart-display {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: fit-content;
}

.chart-display p{
    padding: 0;
    margin: 0;
    width: fit-content;
    cursor: pointer;
    font-size: 1.8em;
}

@media (orientation: landscape){  
    .box{
        padding: 20px 20px 0 20px;
        flex-direction: column;
        grid-column-start: 4;
        grid-column-end: 7;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    .container {
        height: fit-content;
        min-height: 100vh;
        grid-template-columns: 1fr repeat(5, 3fr);
        grid-template-rows: repeat(2, 30%) 40%;
    }

    .account-management {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .text-form {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end:3;
    }

    .addBtn button {
        align-self: flex-end;
    }

    .last-expenses-list {
        grid-column-start: 2;
        grid-column-end: 7;
        grid-row-start: 3;
        grid-row-end: 4;
        align-self: flex-end;
        margin-right: 20px;
    }

    .last-expenses-list .widget{
        height: 85%;
    }

    .last-expenses-list .widget table{
        margin: 0 10px;
        width: 90%;
    }

    .last-expenses-list .widget table td{
        padding: 5px 0;
    }

    .options a {
        font-size: calc(0.3em + 1.5vh);
    }
}

@media (orientation: portrait){
    .container {
        display: flex;
        flex-direction: column;
        height: calc(400px + 100vh);
        gap: calc(10px + 1vh);
    }

    .account-management {
        margin: 0 5%;
        height: 20vh;
    }

    .account-management .widget {
        width: calc(50px + 5vh + 15vw);
        height: calc(50px + 5vh + 15vw);
    }

    .account-name h1{
        font-size: calc(1.2em + 3vw);
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        max-width: 35vw;
    }

    .account-name a {
        align-self: center;
    }

    .account-name a img {
        width: calc(15px + 3vw);
    }

    .options a, .change-month p {
        font-size: calc(0.5em + 1.5vw);
    }

    .addBtn button {
        font-size: calc(0.5em + 1.5vw);
        padding: calc(5px + 1vh) 0;
        height: 3em !important;
    }

    .box {
        display: flex;
        align-self: center;
        flex-direction: column;
        margin: 0 5%;
        width: 90%;
        height: 60vh;
        justify-content: space-between;
    }

    .box .graph .widget {
        width: 100%;
        height: 50vh;
        margin: calc(5px + 1vh) 0;
    }

    .text-form {
        height: fit-content;
        max-height: 40vh;
        margin: 0 5%;
        padding: 0 10%;
    }

    .text-form .widget {
        width: 95%;
        height: fit-content;
    }

    .text-form .widget h3 {
        font-size: calc(0.8em + 2.5vw);
        padding: calc(3px + 0.5vh) 0 0 calc(3px + 0.5vh);
    }

    .text-form .widget h1 {
        font-size: calc(2em + 2.5vw);
    }

    .text-form .change-month {
        width: 95%;
        justify-content: space-evenly;
    }

    .last-expenses-list {
        width: 90%;
        align-self: center;
        margin: 10px 5%;
    }

    .last-expenses-list .widget {
        height: 80%;
    }

    .scroll {
        width: 100%;
    }

    .last-expenses-list .widget table{
        width: 70%;
    }

    td p, th{
        padding: 1px 0;
        font-size: calc(10px + 0.4vw) !important;
        height: fit-content;
    }

    td p{
        margin: 0;
    }

    .last-expenses-list .widget table td:nth-child(4){
        width: 25%;
    }
}