<div class="container">
    <div class="row">
        <a class="hamburger">
            <img src="../assets/icons/menu-button.png" width="50px">
        </a>
        <div class="box">
            <div class="account-management">
                <div 
                    class="widget" 
                    appWidget 
                    [widgetHeight]="'100px'"
                    [widgetWidth]="'100px'"
                >
                    <img src="">
                </div>
                <div class="account-info">
                    <div class="account-name">
                        <h1>Założyciel</h1>
                        <a>
                            <img src="../assets/icons/swap-icon.png" width="35px">
                        </a>
                    </div>
                    <a style="cursor: pointer;" (click)="onAddProfile()">Dodaj profil</a>
                    <a style="cursor: pointer;">Ustawienia</a>
                    <a style="cursor: pointer;">Powiadomienia</a>
                    <a style="cursor: pointer;" (click)="onLogout()">Wyloguj się</a>
                </div>
            </div>
            <div class="text-form">
                <div class="change-month">
                    <a> < </a>
                    <p> Czerwiec 2024 </p>
                    <a> > </a>
                </div>
                <div 
                    class="widget"
                    appWidget
                    widgetHeight="150px"
                    widgetWidth="100%"
                >
                    <p>Wydatki w: czerwiec 2024</p>
                    <h1>99,99zł</h1>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="addBtn">
                <button appButtonDir>Dodaj wydatek</button>
            </div>
            <div class="graph">
                <div 
                    class="widget"
                    appWidget
                    widgetHeight="300px"
                    widgetWidth="100%"
                >
        
                </div>
            </div>
        </div>
    </div>
    <div class="last-expenses-list">
        <div 
            class="widget"
            appWidget
            [widgetHeight]="'35vh'"
            [widgetWidth]="'100%'"
        >
            <p>Ostatnie wydatki</p>
            <div class="scroll">
                <table>
                    <tr>
                        <td>Jedzenie</td>
                        <td>21,99 zł</td>
                        <td>15.06.2024</td>
                        <td>Kebab</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>Transport</td>
                        <td>78,00 zł</td>
                        <td>01.06.2024</td>
                        <td>Bilet miesięczny nananana</td>
                        <td>co 30 dni</td>
                    </tr>
                    <tr>
                        <td>Jedzenie</td>
                        <td>21,99 zł</td>
                        <td>15.06.2024</td>
                        <td>Kebab</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>Transport</td>
                        <td>78,00 zł</td>
                        <td>01.06.2024</td>
                        <td>Bilet miesięczny</td>
                        <td>co 30 dni</td>
                    </tr>
                    <tr>
                        <td>Jedzenie</td>
                        <td>21,99 zł</td>
                        <td>15.06.2024</td>
                        <td>Kebab</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>Transport</td>
                        <td>78,00 zł</td>
                        <td>01.06.2024</td>
                        <td>Bilet miesięczny</td>
                        <td>co 30 dni</td>
                    </tr>
                    <tr>
                        <td>Jedzenie</td>
                        <td>21,99 zł</td>
                        <td>15.06.2024</td>
                        <td>Kebab</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>Transport</td>
                        <td>78,00 zł</td>
                        <td>01.06.2024</td>
                        <td>Bilet miesięczny</td>
                        <td>co 30 dni</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>