<div class="container">
    <div *ngIf="!loggedUser" class="scrollable">
        <button (click)="onGoToMainPage()">Strona Główna</button>
        <button (click)="onGoToAboutPage()">O Aplikacji</button>
    </div>
    <button *ngIf="!loggedUser" appButtonDir (click)="onLogin()">Zaloguj się</button>

    <div *ngIf="loggedUser" class="scrollable">
        <button *ngIf="activeProfile.PIN !== null && activeProfile.role === 'admin'" (click)="onAddProfile()">Dodaj profil</button>
        <button (click)="onSettings()">Ustawienia</button>
        <button (click)="onNotifications()">Powiadomienia</button>
        <button (click)="onLogout()">Wyloguj się</button>
    </div>
    <button *ngIf="loggedUser" appButtonDir (click)="onAddExpense()">Dodaj wydatek</button>
</div>