.container {
    display: flex;
    justify-content: end;
    gap: calc(1vh + 1vw);
    padding: 10px 0;
    width: 100%;
}

button {
    background-color: transparent;
    border: none;
    font-size: calc(0.9em + 0.15vh + 0.15vw);
    height: 2rem;
    text-wrap: nowrap;
}