<div class="container" appContainer>
    <form (ngSubmit)="onSubmit()" #expenseForm="ngForm">
        <div class="input">
            <label>Kwota</label>
            <input 
                type="number"
                id="price"
                name="price"
                ngModel
                required
                appInputDir
            >
        </div>
        <div class="input">
            <label>Data</label>
            <input 
                type="date" 
                id="date"
                name="date"
                ngModel
                required
                appInputDir
            >
        </div>
        <div class="input">
            <label>Opis</label>
            <input 
                type="text" 
                id="desc"
                name="desc"
                ngModel
                required
                appInputDir
            >
        </div>
        <div class="cyclic-input">
            <div class="chkbx">
                <input 
                    type="checkbox"
                    id="cyclic"
                    name="cyclic"
                    ngModel
                    #chkbx
                > Cykliczny
            </div>
            <div class="cyclic-value">
                <p>Co</p>
                <input 
                    type="number" 
                    id="renewal"
                    name="renewal"
                    ngModel
                    [disabled]="!chkbx.checked" 
                    required="chkbx.checked"
                    appInputDir>
                <p>dni</p>
            </div>
        </div>
        <div class="input">
            <label>Kategoria</label>
            <select
                id="category"
                name="category"
                ngModel 
                required
                appInputDir>
                <option [value]="category.id" *ngFor="let category of categories">
                    {{ category.content }}
                </option>
            </select>
        </div>
        <div class="btn-box">
            <button appButtonDir type="submit" [disabled]="!expenseForm.valid">Zapisz</button>
            <button appButtonDir type="button" (click)="onCancel()">Anuluj</button>
        </div>
    </form>
</div>