.container {
    min-height: 100vh;
    height: fit-content !important;
    overflow: hidden;
    border: 2px solid green;
}

.row {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.arrows {
    margin-left: 20px;
}

.cat-info {
    display: flex;
    gap: 3vw;
}

.cat-info h1{
    font-size: calc(1.5em + 1.5vw);
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.cat-info .widget {
    width: calc(20px + 7vw + 7vh);
    height: calc(20px + 7vw + 7vh);
}

.btn-box {
    display: flex;
    gap: 10px;
}

.btn-box button {
    width: calc(1vw + 30px + 1vh);
    height: calc(1vw + 30px + 1vh);
}

/* .change-month {
    display: flex;
    margin: 0 20px;
    justify-content: space-between;
    align-items: center;
    width: 30vw;
}

.change-month p {
    margin: 0;
}

.change-month a {
    font-size: calc(25px + 1vw);
} */

.content {
    flex-grow: 1;
}

.content .widget {
    flex-grow: 1;
    width: 50%;
}

.scroll{
    overflow-y: auto;
    height: 45vh;
    margin: 0 5px;
}

.content .widget h3 {
    margin-left: 15px;
}

.content .widget table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 5px;
}

td, th{
    text-align: center;
    padding: 0;
    font-size: 14px;
}

th{
    background-color: #dedede;
}

.content .widget tr {
    margin: 2.5px 0;
    background-color: #f5f5f5;
}

.content .widget table td:first-child{
    width: 35%;
}

.content .widget table td:nth-child(2){
    width: 25%;
}

.content .widget table td:nth-child(3){
    width: 15%;
}

.content .widget table td:nth-child(4){
    width: 25%;
}

.content {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
    gap: 20px;
    padding: 20px 0;
}

.canvas-wrap {
    height: 100%;
}

canvas {
    height: 90%;
    max-height: 50vh;
}

.no-expenses-info {
    width: 100%;
    text-align: center;
}

.input {
    display: flex;
    flex-direction: column;
}

.color {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.color input{
    width: 30px;
    height: 30px;
    border: none;
}

@media (orientation: portrait){
    .container {
        height: 160vh !important;
    }
    
    .change-month {
        align-self: center;
        width: 50vw;
    }

    .content {
        flex-direction: column;
    }

    .content .widget {
        width: 100%;
    }

    .btn-box {
        position: absolute;
        top: -50px;
        right: 10px;
    }
}
