.container {
    align-items: center;
    justify-content: center;
}

.input {
    display: flex;
    flex-direction: column;
}

.input input {
    height: 1.5rem;
}

.widget {
    width: calc(80px + 2vw + 2vh);
    height: calc(80px + 2vw + 2vh);
}

.form {
    display: flex;
    flex-direction: column;
    height: 50vh;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.color-select{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.color-select input {
    border: none;
    width: 30px;
    height: 30px;
}

.color-select-input {
    display: flex;
    align-items: center;
}

.btn-box {
    width: 70%;
    display: flex;
    justify-content: center;
    gap: 30px;
    align-self: center;
}

.go-back-btn{
    align-self: flex-end;
    margin: 20px;
}

button {
    width: 80px;
    height: 2rem;
}

p {
    position: relative;
    top: 0;
    margin: 0;
}