<div class="container" appContainer>
    <div class="row">
        <div class="icon">
            <img src="../assets/icons/crown-icon.png">
            <h1>Status PLUS</h1>
        </div>
        <button appButtonDir (click)="onGoBack()">Wróć</button>
    </div>
    <div class="desc">
        <h3>Konta ze Statusem PLUS otrzymują następujące korzyści:</h3>
        <ul>
            <li>limit profili zwiększony z 3 do 6</li>
            <li>maks. 3 profile mogą mieć uprawnienia Założyciela</li>
            <li>zmiana ustawień limitów wydatków jest dostępna raz dziennie</li>
        </ul>
        <h3>Wszystkie profile konta ze Statusem PLUS otrzymują powyższe korzyści.</h3>
        <h1>Koszt: 19,99zł/miesiąc</h1>
        <button appButtonDir (click)="onChangeAccountStatus(modalRef)">
            {{ loggedUser.accountStatus === 'free' ? 'Kup' : 'Anuluj subskrypcję'}}
        </button>
        <p class="info">Możesz zrezygnować z subskrypcji w każdej chwili. Utracisz dostęp do powyższych korzyści 30 dni po ostatniej zapłacie.</p>
    </div>
</div>

<ng-template #modalRef>
    <div class="modal-container">
        <div class="modal-row">
            <h1> Rezygnacja ze Statusu PLUS.</h1>
            <div class="button">
                <button (click)="onCloseModal()">
                    <img src="../assets/icons/cancel.png">
                </button>
            </div>
        </div>
        <p>
            Rezygnując ze Statusu PLUS rezygnujesz z płynących z niego korzyści. Zatem do zakończenia opłaconej w bieżącym miesiącu subskrypcji 
            należy zredukować ilość profili do 3 dozwolonych w wersji darmowej oraz wybrać jednego Założyciela. W przeciwnym wypadku założymy, 
            że dalej korzystasz z dodatkowych funkcji Statusu PLUS i rezygnacja z subskrypcji zostanie anulowana.
        </p>
        <button (click)="onUnderstood()" appButtonDir>Rozumiem</button>
    </div>
</ng-template>