<div class="container" appContainer>
    <div class="row">
        <div class="icon">
            <img src="../assets/icons/crown-icon.png">
            <h1>Status PLUS</h1>
        </div>
        <button appButtonDir (click)="onGoBack()">Wróć</button>
    </div>
    <div class="desc">
        <p>Konta ze Statusem PLUS otrzymują następujące korzyści:</p>
        <ul>
            <li>limit profili zwiększony z 3 do 6</li>
            <li>max. 3 profile mogą mieć uprawnienia Założyciela</li>
            <li>zmiana ustawień limitów wydatków jest dostępna raz dziennie</li>
        </ul>
        <p>Wszystkie profile konta ze Statusem PLUS otrzymują powyższe korzyści.</p>
        <h1>Koszt: 19,99zł/miesiąc</h1>
        <button appButtonDir (click)="onChangeAccountStatus()">
            {{ loggedUser.accountStatus === 'free' ? 'Kup' : 'Anuluj subskrypcję'}}
        </button>
        <p class="info">Możesz zrezygnować z subskrypcji w każdej chwili. Utracisz dostęp do powyższych korzyści 30 dni po ostatniej zapłacie.</p>
    </div>
</div>