/* You can add global styles to this file, and also import other style files */

@font-face{
    font-family: 'Inter';
    src: url('assets/Inter Font/static/Inter-SemiBold.ttf');
}

@font-face{
    font-family: 'Lemonada';
    src: url('assets/Lemonada/Lemonada-VariableFont_wght.ttf');
}

body {
    margin: 0;
}