.container {
    justify-content: space-evenly;
    padding: 0 20px;
    align-items: center;
}

.backBtn{
    width: calc(50px + 1vw);
    position: absolute;
    top: calc(10px + 1vw);
    right: calc(10px + 1vw);
}

.items-box {
    height: calc(100px + 35vh);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: calc(300px + 50vw);
    gap: calc(5px + 2vh);
    margin-top: 60px;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.widget img {
    width: calc(40px + 20vh - 5vw);
    height: calc(40px + 20vh - 5vw);
}

.btn-box {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 10px 0;
}

.item p {
    margin: 10px;
}

.btn-box button{
    width: calc(20px + 1vh);
    height: calc(20px + 1vh) !important;
}

.btn-box button img {
    width: calc(10px + 1vh);
    height: calc(10px + 1vh) !important;
}

.modal-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin: 30px 15px;
}

.row {
    display: flex;
    width: 100%;
    justify-content: center;
}

.row button, .row img{
    width: 50px;
    height: 50px;
}

.row button {
    border: none;
    background-color: #eceaea;
}

.row h1{
    text-wrap: wrap;
    text-align: center;
    width: 70%;
    font-size: 40px;
    margin: 10px 10% 0 10%;
}

.btn-box-modal {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15vh;
}

.content div{
    display: flex;
    flex-direction: column;
}

span {
    margin: 15px;
}

@media (orientation: portrait){
    .container {
        height: fit-content !important;
        min-height: 100vh;
        overflow: hidden;
    }

    .items-box {
        width: calc(200px + 50vw);
        height: fit-content;
    }

    .item {
        height: fit-content;
    }

    .widget img {
        width: calc(70px + 15vh - 5vw);
        height: calc(70px + 15vh - 5vw);
    }

    .row h1{
        font-size: 30px;
        width: 90%;
    }

    .btn-box-modal {
        width: 80%;
    }
}