.container {
    align-items: center;
    padding: 60px;
}

h1 {
    font-size: 50px;
    text-align: center;
}

.profiles-box {
    height: 60vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 10px;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.widget img {
    width: 20vh;
}

@media (orientation: portrait) {
    .profiles-box {
        width: 70vw;
        height: fit-content;
    }
    .profile {
        width: 25vh;
        height: 25vh;
    }
    .container {
        height: fit-content !important;
    }
}

@media (orientation: landscape) {
    .profiles-box {
        width: 60vw;
    }
    .profile {        
        width: 30vh;
        height: 30vh;               
    }
}