.container{
    width: 100%;
    height: 100%;
    background-color: #c6c4ff;
    display: flex;
    flex-direction: column;
}

.categories-list::-webkit-scrollbar { 
    display: none; 
}

button {
    margin-bottom: 10px;
    background-color: #b2b0f1 !important;
}

.item {
    display: flex;
}

.active {
    box-shadow: inset 2px 2px 5px #9f9dcf;
}

.block {
    width: 25px;
    height: 25px;
    box-shadow: 1px 1px 1px #aaaaaa;
    border-radius: 5px;
    margin-top: 12px;
}

@media (orientation: landscape) {
    .container{
        justify-content: space-between;
        padding: 0 4px;
    }
    .item {
        justify-content: space-evenly;
        padding: 0 10px;
    }
    .item p {
        width: 70%;
        text-wrap: wrap;
    }
    .categories-list {
        height: 80%;
        overflow-y: auto;
    }
}

@media (orientation: portrait) {
    .item {
        flex-direction: column;
        align-items: center;
        font-size: 10px;
        text-wrap: wrap;
        text-align: center;
    }
    .categories-list {
        gap: 10px;
        height: 12vh;
        display: flex;
        overflow-x: auto;
        margin: 0 10px;
    }
    h1 {
        text-align: center;
        margin: 5px 0;
    }
}