<div class="container">
    <h1>Kategorie</h1>
    <div class="categories-list">
        <div class="item">
            <div class="block"></div>
            <p>Kategoria 1</p>
        </div>
        <div class="item">
            <div class="block"></div>
            <p>Kategoria 1</p>
        </div>
        <div class="item">
            <div class="block"></div>
            <p>Kategoria 1</p>
        </div>
        <div class="item">
            <div class="block"></div>
            <p>Kategoria 1</p>
        </div>
        <div class="item">
            <div class="block"></div>
            <p>Kategoria 1</p>
        </div>
        <div class="item">
            <div class="block"></div>
            <p>Kategoria 1</p>
        </div>
        <div class="item">
            <div class="block"></div>
            <p>Kategoria 1</p>
        </div>
        <div class="item">
            <div class="block"></div>
            <p>Kategoria 1</p>
        </div>
        <div class="item">
            <div class="block"></div>
            <p>Kategoria 1</p>
        </div>
        <div class="item">
            <div class="block"></div>
            <p>Kategoria 1</p>
        </div>
        <div class="item">
            <div class="block"></div>
            <p>Kategoria 1</p>
        </div>
        <div class="item">
            <div class="block"></div>
            <p>Kategoria 1</p>
        </div>
    </div>
    <button appButtonDir>Dodaj kategorię</button>
</div>