.container {
    padding: 20px;
    align-items: center;
    justify-content: center;
    gap: calc(1vw + 1vh);
}

h1 {
    font-size: calc(1em + 3vh + 1vw);
    text-align: center;
    margin: 0;
}

input {
    width: 100px;
    height: 1.5rem; 
}

button:first-of-type {
    position: absolute;
    top: 20px;
    right: 20px;
}

.widget {
    width: calc(100px + 10vh);
    height: calc(100px + 10vh);
}

.widget img {
    width: calc(100px + 10vh);
}

p {
    margin: 0;
}

button {
    height: 2rem;
}