.container {
    padding: 20px;
    align-items: center;
    justify-content: space-between;
}

.row {
    display: flex;
    justify-content: space-between;
    width: 90vw;
}

.row button:last-child, .gap{
    width: 80px;
}

.account-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
}

.btn-box {
    display: flex;
    flex-direction: column;
    height: 60vh;
    width: 300px;
    justify-content: space-evenly;
}

@media (orientation: portrait){
    .widget, img {
        width: 200px !important;
        height: 200px !important;
    }

    .btn-box {
        width: 90vw;
    }
}

